In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("campus_placement_readiness_dirty_dataset.csv")
df.head()

,StudentID,CGPA,Internships,Projects,Workshops/Certifications,AptitudeTestScore,SoftSkillsRating,ExtracurricularActivities,PlacementTraining,SSC_Marks,HSC_Marks,Technical_Skills_Score,PlacementStatus
0,1,7.5,1.0,1,1,65,4.4,No,No,61,79,66.0,NotPlaced
1,2,8.9,0.0,3,2,90,4.0,Yes,Yes,78,82,47.0,Placed
2,3,7.3,1.0,2,2,82,4.8,Yes,No,79,80,69.0,NotPlaced
3,4,7.5,1.0,1,2,85,4.4,Yes,Yes,81,80,51.0,Yes
4,5,8.3,NaN,2,2,86,4.5,Yes,Yes,74,88,67.0,Placed

In [3]:
df.info()           #Data understanding
df.describe()
df.isnull().sum()
df.duplicated().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5001 entries, 0 to 5000
Data columns (total 13 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   StudentID                  5001 non-null   int64
 1   CGPA                       4998 non-null   float64
 2   Internships                4998 non-null   float64
 3   Projects                   5001 non-null   int64
 4   Workshops/Certifications   5001 non-null   int64
 5   AptitudeTestScore          5001 non-null   int64
 6   SoftSkillsRating           5001 non-null   float64
 7   ExtracurricularActivities  5001 non-null   object
 8   PlacementTraining          5001 non-null   object
 9   SSC_Marks                  5001 non-null   int64
 10  HSC_Marks                  5001 non-null   int64
 11  Technical_Skills_Score     4998 non-null   float64
 12  PlacementStatus            5001 non-null   object
dtypes: float64(4), int64(6), object(3)
memory usage: 508.0+ KB

np.int64(0)

In [4]:
df.columns = df.columns.str.strip().str.replace(' ', '_') #standarize column names

In [5]:
df = df.drop_duplicates()        #Remove Duplicates

In [6]:
num_cols = ['CGPA', 'Technical_Skills_Score']  #handle missing values: numerical columns
for col in num_cols:
    df[col] = df[col].fillna(df[col].median())

In [7]:
df['Internships'] = pd.to_numeric(df['Internships'], errors='coerce')         #Clean internship column
df['Internships'] = df['Internships'].fillna(df['Internships'].median())

In [8]:
df['PlacementStatus'] = df['PlacementStatus'].str.strip().str.lower()  #cleaning and standardize target variable

df['PlacementStatus'] = df['PlacementStatus'].replace({
    'yes': 'placed',
    'no': 'notplaced'
})

In [9]:
from sklearn.preprocessing import LabelEncoder           #Encode Target Variable

le = LabelEncoder()
df['PlacementStatus_encoded'] = le.fit_transform(df['PlacementStatus'])

In [10]:
df.isnull().sum()        #Final Validation
df.duplicated().sum()

np.int64(0)

In [16]:
df.to_csv("campus_placement_cleaned_final.csv", index=False)

In [17]:
print("File saved successfully")

File saved successfully